@media only screen and (max-width: 1380px) {
    .pulseWrapper1 {
        top: 37%;
        left: 46%;
    }

    .pulseWrapper2 {
        top: 20%;
        left: 78%;
    }

    .pulseWrapper3 {
        top: 53%;
        left: 40%;
    }
}

@media only screen and (max-width: 1180px) {
    .video-bg {
        width: 1180px !important;
    }
}

@media only screen and (min-width: 768px) {
    .scroll-right {
        display: none;
    }
}